[submodule "libtrack"]
	path = src/libtrack
	url = git://github.com/freescale-cup-simulator/libtrack.git
[submodule "libqmlogre"]
	path = src/libqmlogre
	url = https://github.com/freescale-cup-simulator/libqmlogre.git
